#page-wrap.App {
  margin: 0;
}

#page-wrap {
  width: 600px;
  margin: 15px;
  position: relative;
  display: flex;
}

#sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  margin-left: 0px;
  padding: 2px;
  background-color: gray;
  border: 1px black solid;
}

.page-header {
  margin-left: 15%;
}
